#squares-container{
    display: flex;
    flex-direction: column;
    margin: 0;    
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    height: 100vh;
    width: 100vw;
}

#undo-btn{
    width: 100px;
    height: 70px;
    border: solid 1px black;
    margin-top: 25px;
}